@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yuji+Syuku&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Yuji+Syuku&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Yuji+Syuku&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Yuji+Syuku&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*use Inter for body and spectral for headings, nunito for titles*/
/* 
  use #2c5782 for big texts, rgb(240,240,141) for modals and 
  rgb(138,98,160) for texts that need highlighting 
*/

body {
  background-color: rgb(255, 255, 255);
  font-family: "Inter", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 375; /* use a value from 100 to 900 */
  box-sizing: border-box;
}

li {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
  font-size: larger;
}

.logo {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600; /* Use a value from 100 to 900 */
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 25px;
}

.logo-image {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}
